
#mapid { 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 64px;
    z-index: -1;
}

@font-face {
    font-family: 'hsl-piktoframe';
    src: url('./fonts/hsl-pikto-frame-webfont.eot');
    src: url('./fonts/hsl-pikto-frame-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/hsl-pikto-frame-webfont.woff2') format('woff2'),
         url('./fonts/hsl-pikto-frame-webfont.woff') format('woff'),
         url('./fonts/hsl-pikto-frame-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bus-icon {
    font-family: 'hsl-piktoframe';
    color: #007AC9;
    font-size: 30px;
}

.tram-icon {
    font-family: 'hsl-piktoframe';
    color: #00985F;
    font-size: 30px;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}  
  