.DetailView {
    background-color: white;
    display: inline-block;
    width:100%;
}

.DetailView img {
    width: 100%;
}

.DetailView .Content {
    padding: 1em;

}

.DetailView .Content p {
    text-align: left;
}